* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6efe4;
    /*background-color:#2f2f2b;*/
}

.container {
    background-color: none;
    margin: auto;
}

.header {
  /* background-color:#886349;*/
   background-color:#b8844c;/*#ad8458*/
   height: 70px;
}

.header h1 {
   padding: 10px;
   padding-left: 145px;
   color: brown;
   padding-top: 15px;
   float: left;
}

.header ul {
    list-style: none;
    float: right;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-top: 1.25%;
}

.header  li {
    display: inline-block;
    font-size: 19px;
    padding: 8px;
}

.header ul li a {
    text-decoration: none;
    color: brown;
}
/*final Header*/




/*começo login*/

.modal-login {
    width: 100%;
    height: 100%;
   /* background-color: rgba(0, 0, 0, 0.3);*/
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 438px;
    height: 345px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 13px 0;
    position: relative;
}

.modal-content h1 {
    color: #b8844c;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 35px;
    font-weight: bold;
    transform: rotate(45deg);
    cursor: pointer;
    color: brown;
}

.form-conteudo {
    margin-top: 50px;
}

.form-conteudo input {
    width: 45%;
    display: block;
    margin: 12px auto;
    padding: 4px;
    border-radius: 3px;
    border-color: rgb(78, 75, 75);
}

.cadastro {
    text-decoration: none;
    padding-left: 22px;
    color: brown;
}

.login-button {
    text-decoration: none;
    color: white;
    background: #b8844c;
    padding: 7px 15px;
    border-radius: 2px;
    float: right;
    margin-right: 90px;
}

/*final login*/





/*começo cadastro*/

.modal-cadastro {
    width: 100%;
    height: 100%;
   /* background-color: rgba(0, 0, 0, 0.3);*/
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.cadastro-button {
    text-decoration: none;
    color: white;
    background: #b8844c;
    padding: 7px 15px;
    border-radius: 2px;
    float: right;
    margin-right: 90px;
}

/*fim cadastro*/





/* Começo Banner*/
.banner {
    background-repeat: no-repeat;
    text-align: center;
    animation: banner 10s infinite linear alternate;
   /* background-image: url('./img/bannerGuitarra03.jpg');
    ./img/bannerViolao01.jpg
    ./img/bannerViolino01.jpg
    ./img/bannerGuitarra03.jpg
    */
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
}

@keyframes banner {
    0%, 30% {
        background-image: url(./img/bannerViolao01.jpg);
    }

    35%, 65% {
        background-image: url(./img/bannerGuitarra03.jpg);
    }

    70%, 100% {
        background-image: url(./img/bannerViolino01.jpg);
    }
}

.containerBanner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.text h1 {
   /* text-align: center; */
    padding-top: 5%;
    color: white;
    padding-bottom: 1.5%;
}

.text p {
    color: yellow;
    padding-bottom: 5%;
    
}

.text a {
    text-decoration: none;
    color: white;
    background: #ad8458;
    padding: 10px 30px;
    border-radius: 2px;
}

/*final Banner*/





/*começo Pagina Sobre*/
.bSobre {
    background-repeat: no-repeat;
    text-align: center;
    background-image: url('./img/bannerGuitarra03.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
}


h3 {
    margin-top: 10%;
    font-size: 200%;
    font-family:Arial, Helvetica, sans-serif;  
}

/*Fim pagina Sobre*/





/*Produtos*/
.produtos {
    display: inline-block;
    margin-top: 8%;
    padding: 18px;
    background-color: #d8b16d;
    /*#b8844c*//*#d3a960*/
}

.produtos h3 {
    font-size: 105%;
    padding-bottom: 10px;
}

.produtos a {
    text-decoration: none;
    color: white;
    background: #b8844c;
    padding: 8px 20px;
    border-radius: 2px;
}
/*Fim Produtos*/



/*Começo Footer*/
footer {
    background-color: #ad8458;
    margin-top: 20%;
    padding-bottom: 30%;
}

footer h2 {
   padding-top: 5%;
}


/*form*/
.containerForm {
    /*background-color: cadetblue;*/
    width: 20%;
    padding: 2%;
    float: right;
    margin-right: 15%;
}

#form-cont {
    background-color: burlywood;
    padding: 20px;
    border-radius: 4px;
    padding-bottom: 30px;
}

#btn-form {
    float: right;
    padding: 2px 10px;
}

.imgs {
  width: 10px;
  float: right;
  padding-right: 45px;
}

 ul{
    list-style: none;
}

li img {
    width: 50px;
    padding-left: 50%;
    margin-top: 50px;
}
/*Final Form*/
/*Final Footer*/


/*#f6efe4*/
/*
b #f6efe4
h #ad8458
h #886349 maybe

maybe
b #2f2f2b
h #ad8458 

b #f6f7f2
h #ad8458 maybe maybe


*/

/*
#704a40
#f6efe4
#886349

#ad8458
#3c454c back
#2f2f2b
#e37749 noway
#f6f7f2 back
*/  